table.shop_table {
  display: block;

  thead {
    display: none;
  }

  tbody,
  tfoot {
    display: block;

    tr {
      display: flex;
      justify-content: space-between;

      th {
        text-align: left;
      }

      td {
        border: 0;
        padding: 0;
        display: block;
        text-align: right;
      }
    }
  }
}
