<div class="blog-wrapper">
  <div class="inner">
    <div class="wrap">
      {{> blog-sidebar}}
      <div class="content text-content">
        <div class="single-blog">
          <div class="categories">
            <a href="#" rel="category tag">Adipiscing</a>
            <a href="#" rel="category tag">Fermentum</a>
          </div>
          <h1 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit 1</h1>
          <div class="posted">
            Posted - October 2, 2017
          </div>
          <img src="{{root}}images/blog-first.jpg" class="wp-post-image" alt="">
          <h1>Header one</h1>
          <h2>Header two</h2>
          <h3>Header three</h3>
          <h4>Header four</h4>
          <h5>Header five</h5>
          <h6>Header six</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales turpis lacus, at mattis dui eleifend
            sit amet. Nunc at mauris vitae massa ultricies lobortis. Mauris urna massa, molestie et dui in, facilisis
            dignissim nulla. Vestibulum vitae malesuada metus, sit amet pretium arcu. Mauris sollicitudin dui a est
            tempor vestibulum. Suspendisse consectetur eget mauris vel pretium. Proin vel sem malesuada, commodo odio
            quis, tristique urna. Suspendisse a massa gravida, interdum enim vel, vestibulum nisl. Nulla lectus mauris,
            bibendum sit amet sem sodales, ultrices tempus augue. Duis luctus elit a sapien pharetra pretium. Curabitur
            placerat vel nisi sed viverra. Quisque ut risus tincidunt, bibendum felis nec, tempus odio. Mauris cursus
            tristique dui sit amet porttitor. Aliquam maximus lacinia ante non sagittis.</p>
          <p>Vivamus et condimentum elit. Donec accumsan egestas posuere. Proin et scelerisque augue, at porttitor erat.
            Duis fermentum aliquam augue, sed porttitor nulla. Pellentesque euismod arcu ac sapien finibus ultricies.
            Mauris aliquam nunc ut ante congue congue a in erat. Suspendisse fermentum urna malesuada lacus lacinia, id
            lobortis eros dignissim.</p>
          <p>Etiam pretium mauris quis finibus blandit. Mauris at nunc et lectus dictum maximus non ut ante. Quisque
            accumsan felis sit amet fermentum rhoncus. Nullam condimentum sagittis tortor eu mattis. Nullam eu nibh
            nisi. Aenean et auctor mi. Maecenas in arcu et diam porttitor eleifend at ac nisi. In hac habitasse platea
            dictumst. Vivamus vehicula urna a venenatis accumsan.</p>
          <ul>
            <li>List item</li>
            <li>List item
              <ul>
                <li>List sub item</li>
                <li>List sub item</li>
                <li>List sub item</li>
              </ul>
            </li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
          </ul>
          <p>Morbi lobortis, mauris in egestas aliquam, neque turpis placerat augue, ac mollis est ligula at justo.
            Nullam condimentum nisi sit amet augue dictum, at euismod mi interdum. Sed faucibus nisi vel odio interdum
            tempor. Aliquam vitae nisi at nunc convallis suscipit. Nunc imperdiet dui vel tellus tincidunt tincidunt.
            Suspendisse tempus enim eu faucibus luctus. In pharetra nibh ex, eu vehicula libero porttitor vitae.</p>
          <ol>
            <li>List item</li>
            <li>List item
              <ol>
                <li>List sub item</li>
                <li>List sub item</li>
                <li>List sub item</li>
              </ol>
            </li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
          </ol>
          <p>Cras pulvinar tortor id euismod facilisis. Donec mollis aliquam augue id scelerisque. Donec accumsan
            imperdiet ante, sed interdum dui consequat ut. Curabitur pellentesque felis ligula, vitae pretium ligula
            blandit in. Fusce viverra nulla eget lacus tempus ornare. Ut tincidunt quis ligula sed sollicitudin.
            Curabitur volutpat, orci vel ultricies dictum, massa metus dictum enim, eu dignissim felis urna vitae felis.
            Ut convallis ligula ex, ac elementum enim sodales sed.</p>
          <table>
            <tbody>
            <tr>
              <th>Lorem ipsum dolor</th>
              <th>sit amet, consectetur</th>
              <th>adipiscing elit.</th>
            </tr>
            <tr>
              <td>Proin sodales turpis lacus, at mattis dui eleifend sit amet.</td>
              <td>Nunc at mauris vitae massa ultricies lobortis.</td>
              <td>Mauris urna massa, molestie et dui in, facilisis dignissim nulla.</td>
            </tr>
            <tr>
              <td>Vestibulum vitae malesuada metus, sit amet pretium arcu. Mauris sollicitudin dui a est tempor
                vestibulum.
              </td>
              <td>Suspendisse consectetur eget mauris vel pretium.</td>
              <td>Proin vel sem malesuada, commodo odio quis, tristique urna. Suspendisse a massa gravida, interdum enim
                vel, vestibulum nisl. Nulla lectus mauris, bibendum sit amet sem sodales, ultrices tempus augue.
              </td>
            </tr>
            </tbody>
          </table>
          <p>Integer cursus erat at mauris pretium suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam elementum sapien augue, vel gravida libero varius eu. Vestibulum sit amet risus metus. Quisque ut
            venenatis neque. Suspendisse congue posuere eros, vestibulum mattis ligula elementum non. Quisque sodales
            pretium vulputate. Duis eget nulla et ipsum porttitor volutpat a quis felis. Ut venenatis lectus ut
            efficitur efficitur. Proin vel justo aliquet, bibendum enim non, tristique nisl. Maecenas a pulvinar
            justo.</p>
          <blockquote><p>Vivamus ultricies sem sed felis lobortis vehicula. Nam vestibulum arcu turpis, blandit sodales
            lacus tempor eu. Duis id erat aliquet, pellentesque enim eget, venenatis tortor. Etiam accumsan nec leo et
            laoreet. Morbi a malesuada erat, eu eleifend lorem. Sed pulvinar viverra mi, sit amet elementum ipsum
            blandit eu. Integer molestie ligula eu tempor vulputate. Nunc nibh libero, cursus in lobortis ac, sodales in
            quam. Praesent non euismod nulla. Nulla facilisi. Nullam laoreet, eros quis tincidunt pellentesque, metus
            velit elementum neque, at aliquet ante leo a nisl. Aliquam ex nisl, accumsan nec odio vel, laoreet pharetra
            libero. Morbi mattis mauris finibus velit tempor feugiat. Fusce consectetur vulputate lobortis.</p>
          </blockquote>
          <p><img class="alignleft" src="http://via.placeholder.com/300x300" alt=""><br>
            Etiam non tellus erat. Integer nec quam a nibh gravida ultricies. Ut laoreet varius purus. Donec ac neque
            rutrum, facilisis urna quis, tristique eros. Ut varius lectus quis aliquet elementum. Phasellus non tortor
            ac mauris imperdiet commodo. Aliquam ultrices quam nec tortor interdum, a pulvinar turpis pulvinar.
            Suspendisse malesuada tellus nec velit consectetur cursus nec non magna. Nulla facilisi. Mauris vitae
            maximus purus. Mauris dolor ligula, congue quis metus vitae, viverra posuere enim. Vestibulum nibh erat,
            bibendum vel neque at, blandit ultrices metus. Nulla fermentum lectus risus, sed vestibulum tortor pretium
            sed. Etiam lobortis, neque vehicula suscipit suscipit, tellus est porttitor nibh, vitae vehicula nunc justo
            a mi. Maecenas lacinia ipsum in ullamcorper interdum. Suspendisse vulputate nunc eget faucibus accumsan.</p>
          <p>Etiam vulputate libero sed felis cursus pulvinar. Mauris pharetra, ipsum a iaculis placerat, eros quam
            tincidunt tellus, eget eleifend massa erat ut est. In molestie ut odio at dapibus. Nullam consequat, odio
            non porta tincidunt, orci dui maximus sem, eget mattis arcu neque quis arcu. Nunc sit amet ante placerat,
            fermentum ligula nec, bibendum quam. Integer sed lobortis erat. Vestibulum mollis dolor at sapien imperdiet,
            et faucibus ante accumsan. Aliquam porta dui eu nulla semper, in ultricies arcu commodo. Phasellus quis diam
            in magna porttitor cursus. Nam sed semper metus, quis consectetur nisi. Nulla venenatis imperdiet ligula,
            non cursus tortor suscipit vel. Fusce fringilla ultrices orci quis lobortis.</p>
          <p><img class="aligncenter" src="http://via.placeholder.com/350x150" alt=""><br>
            Cras id eleifend eros. Vestibulum lacinia quam ut lorem tempus, id feugiat sapien elementum. Etiam tempor
            pellentesque nulla eu vestibulum. Etiam fermentum, nunc commodo volutpat ullamcorper, velit urna tristique
            magna, quis mollis leo lectus et ex. Aenean nec risus mattis, tincidunt dolor id, pellentesque urna. Nullam
            feugiat pretium urna eu tempus. Aenean commodo elit sed velit porta egestas. Donec aliquet eleifend risus,
            sit amet tincidunt nunc sodales in.</p>
          <p><img class="alignright" src="http://via.placeholder.com/200x350" alt=""><br>
            Pellentesque malesuada est sit amet turpis iaculis, in ultrices felis aliquam. Vivamus dolor ipsum,
            porttitor in augue et, pharetra tempor tellus. Praesent vel tortor lorem. Ut ullamcorper odio vitae
            consectetur auctor. Nulla neque ipsum, scelerisque eget nisi non, scelerisque aliquam tellus. Nullam rutrum
            urna ut tellus sollicitudin bibendum. Suspendisse in purus sed libero placerat malesuada ac ac lorem. Nam
            rutrum risus vel ligula tincidunt, a mattis quam aliquet. Etiam est lacus, tincidunt vel facilisis nec,
            fringilla ac nulla. Fusce ullamcorper mauris sed elit venenatis, eu dictum metus blandit. Integer ac nulla
            fringilla, dignissim lorem eu, vulputate nisi.</p>
          <p>Etiam nec vulputate orci. Suspendisse sed lacus non turpis malesuada porta quis sed metus. Ut lobortis
            varius sollicitudin. Nulla eu purus efficitur, facilisis risus non, varius ex. Nullam sed ultrices erat.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer mollis leo sit amet
            lobortis laoreet. Proin erat est, fermentum sagittis nisl et, molestie consectetur turpis. Nunc iaculis
            lorem eget lorem pulvinar convallis. Praesent rutrum tellus risus, eget venenatis nunc feugiat faucibus.
            Praesent augue erat, condimentum convallis faucibus ultrices, porttitor vel ligula. Sed tempus commodo
            lorem, imperdiet ultricies leo imperdiet a. Donec porta nisi vel tincidunt egestas. Proin aliquam nibh quis
            neque iaculis, non dignissim justo tempus.</p>
          <div class="item-footer">
            <a href="#" class="back-link">Back to "Blog"</a>
            {{> share-links}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
