---
title: FAQ
---

{{>breadcrumbs }}

<section class="section-faq-page">
    <div class="inner">
        <h1 class="title">Frequently asked questions</h1>
        <div class="anchors">
            <a class="btn btn-anchors" href="#first-faq">Membership</a>
            <a class="btn btn-anchors" href="#second-faq">Community</a>
            <a class="btn btn-anchors" href="#third-faq">Contact Us</a>
        </div>
        <div class="faq-blocks">
            <div class="faq-block" id="first-faq">
                <h2>Membership</h2>
                <ul class="faq-list">
                    <li class="single-faq">
                        <a class="link-toggle" href="#">Why do we charge?<br> What’s the goal?</a>
                        <div class="content">
                            <div class="text">
                                <p>The goal of this website is to build a community of support. The ideal is that we can come together to create the tools that we need to succeed. We will hold focus groups so that everyone can contribute to the end result. If we can build a user friendly app, downloadable on our phones, that can help us stay on track and keep us accountable – whether at the grocery store or while meal planning—how amazing would that be?</p>
                                <p>This is an expensive proposition—there is the domain, the hosting, the accounting, the app building, the list goes on. Just setting this all up and getting it up and running has exhausted both my bank account and my expertise. Ultimately, we would need to hire the experts to both build the app and shepherd it through the iPhone and Android processes. I admit, I can be a jack of all trades, but even I know when its time to bring in the experts! TO get the ball rolling, we built this site, set up the necessary infrastructure, and are moving forward, but we cant do it without YOU.</p>
                                <p>Now... we could have just done a GoFundMe, but where’s the fun in that? I firmly believe in the FMI Method – “Figure Me In”. There has to be something in for you to want to contribute to the building of this community. So... what’s in it for you? What do you get? You get a built in community of people with a shared passion. A built in community of people who share your desire, you drive, your experiences, your successes, and your challenges.</p>
                                <p>As part of our commitment to you, you get....well.... ME. I have been keeping a blog and writing about my own experience of losing 130 pounds since this journey began. I have been trying out ptoducts and creams and salves since I began, and now I want to share the good, the bad, and the ugly. We will do giveaways to our membership of the some of the products or gadgets that I have found. (Who doesn’t love a giveaway?)</p>
                            </div>
                        </div>
                    </li>
                    <li class="single-faq">
                        <a class="link-toggle" href="#">What are these giveaways?</a>
                        <div class="content">
                            <div class="text">
                                <p>We have tried lots of things over the last year- gadgets, skincare, tightening creams, anti-wrinkle creams... you name it!  Now we want to give these items to YOU!  The only way to enter is to become a member.  It’s that simple.</p>
                            </div>
                        </div>
                    </li>
                    <li class="single-faq">
                        <a class="link-toggle" href="#">How often can I win?</a>
                        <div class="content">
                            <div class="text">
                                <p>The IRS has rules.  Of course, they do!  In an effort to comply with IRS regulations, we have to limit winning to once per year per member.  As long as we follow the guidelines, we are good to go!</p>
                            </div>
                        </div>
                    </li>
                    <li class="single-faq">
                        <a class="link-toggle" href="#">Do I Need To Be Referred<br> by Someone?</a>
                        <div class="content">
                            <div class="text">
                                <p>Absolutely not!  If you find this site on your own and want to join us... WELCOME!  From time to time, we will do membership drives and incentivize referrals.  In this case, you will gain an extra entry in the drawing by referring your friends to this site.  If your name is entered in the “Referred By” line, there is nothing extra for you to do... we add another entry for you in the drawing. If no one referred you, leave that field blank. Simple! Simple! Simple!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="faq-block" id="second-faq">
                <h2>Community</h2>
                <ul class="faq-list">
                    <li class="single-faq">
                        <a class="link-toggle" href="#">What if I want to contribute a blog, story, or picture?</a>
                        <div class="content">
                            <div class="text">
                                <p>YES!! If you would like to contribute something to the site, please do! We welcome all contributions and suggestions. We reserve the right to edit content or add disclaimers as necessary, but we would love to hear from you. You will be required to sign a Media Release form, which we will send to you via email upon receipt of your submission.</p>
                            </div>
                        </div>
                    </li>
                    <li class="single-faq">
                        <a class="link-toggle" href="#">Will I Have a Voice? What if I Have an Idea?</a>
                        <div class="content">
                            <div class="text">
                                <p>YES!! We will run focus groups to ensure that everyone can have a say in any app that may eventually be created. You can choose to be a part of the focus groups or not—the choice is all yours.</p>
                                <p>If you have an idea, WE LOVE IDEAS!! BY all means, send us an email. We’re game to course correct or add to this community in any way we can. We don’t think we know best, we’re open to all suggestions!</p>
                            </div>
                        </div>
                    </li>
                    <li class="single-faq">
                        <a class="link-toggle" href="#">What Are These Focus<br> Groups?</a>
                        <div class="content">
                            <div class="text">
                                <p>We will hold group meetings via Zoom or whatever technology gives the best opportunity to discuss the creation of the app.  We want everyone to have a chance to voice how it will look when it is finished.  We will run as many focus groups as we need to ensure that everyone has the opportunity to be heard.  If you don’t wish to be part of the Focus Group, there is no requirement. Its not mandatory. But if you would like to be a part of them, we welcome you!</p>
                            </div>
                        </div>
                    </li>
                    <li class="single-faq">
                        <a class="link-toggle" href="#">How Often are the Blogs Posted?</a>
                        <div class="content">
                            <div class="text">
                                <p>As often as possible.  We will do videos and/or blogs a few times a week and strive to keep them interesting to everyone.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="faq-block" id="third-faq">
                <h2>Contact US</h2>
                <ul class="faq-list">
                    <li class="single-faq">
                        <a class="link-toggle" href="#">How Can I Get In Touch With You?</a>
                        <div class="content">
                            <ul class="contacts-list">
                                <li>
                                    <p>If you have any questions or concerns?</p>
                                    <a href="mailto:Susan@onplan.me">Susan@onplan.me</a>
                                </li>
                                <li>
                                    <p>If you have an idea for the website?</p>
                                    <a href="mailto:Suggestions@onplan.me">Suggestions@onplan.me</a>
                                </li>
                                <li>
                                    <p>If you have any questions or concerns?</p>
                                    <a href="mailto:Inspiration@onplan.me">Inspiration@onplan.me</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>