---
title: Site Map
---

<section class="default-page text-content">
  <div class="inner">
    <h1 class="section-title left">Site Map</h1>
    <ul id="menu-site-map" class="menu-site_map">
      <li><a href="#">Home</a></li>
      <li><a href="#">Blog</a></li>
      <li class="menu-item-has-children">
        <a href="#">Shop</a>
        <ul class="sub-menu">
          <li><a href="#">Cart</a></li>
          <li><a href="#">Checkout</a></li>
          <li><a href="#">Wishlist</a></li>
        </ul>
      </li>
      <li><a href="#">My Account</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
</section>
