<ul class="woocommerce-mini-cart cart_list product_list_widget ">
  {{>mini-cart-item image="https://via.placeholder.com/100x100"}}
  {{>mini-cart-item image="https://via.placeholder.com/100x80"}}
  {{>mini-cart-item image="https://via.placeholder.com/80x100"}}
</ul>
<p class="woocommerce-mini-cart__total total"><strong>Subtotal:</strong> {{>price price=15}}</p>
<p class="woocommerce-mini-cart__buttons buttons">
  <a href="#" class="button wc-forward">View cart</a>
  <a href="#" class="button checkout wc-forward">Checkout</a>
</p>
