<li class="woocommerce-mini-cart-item mini_cart_item">
  <a href="#" class="remove remove_from_cart_button" aria-label="Remove this item"
     data-product_id="77" data-cart_item_key="3ba2ec5527baf9b2367a116ae574596d" data-product_sku="">&times;</a>
  <a href="#">
    <img src="{{image}}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""/>
    70% Isopropyl Alcohol (IPA) - 330 gal Tote
  </a>
  <div class="qty">Qty: 12</div>
  <div class="price">{{>price price=15}}</div>
</li>
