<div class="woocommerce-section login-section">
  <div class="inner">
    <div class="woocommerce">
      {{#ifequal step 1 }}
        <div class="woocommerce-notices-wrapper">
          <ul class="woocommerce-error">
            <li>Enter a username or email address.</li>
          </ul>
        </div>
        <form method="post" class="woocommerce-ResetPassword lost_reset_password">
          <p>
            Lost your password? Please enter your username or email address.
            You will receive a link to create a new password via email.
          </p>
          <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
            <label for="user_login">Username or email</label>
            <input class="woocommerce-Input woocommerce-Input--text input-text" type="text" name="user_login"
                   id="user_login" autocomplete="username">
          </p>
          <div class="clear"></div>
          <p class="woocommerce-form-row form-row">
            <input type="hidden" name="wc_reset_password" value="true">
            <button type="submit" class="woocommerce-Button button" value="Reset password">Reset password</button>
          </p>
          <input type="hidden" id="woocommerce-lost-password-nonce" name="woocommerce-lost-password-nonce" value="">
          <input type="hidden" name="_wp_http_referer" value="">
        </form>
      {{/ifequal}}
      {{#ifequal step 2 }}
        <div class="woocommerce-message" role="alert">Password reset email has been sent.</div>
        <p>A password reset email has been sent to the email address on file for your account, but may take several
          minutes to show up in your inbox. Please wait at least 10 minutes before attempting another reset.</p>
      {{/ifequal}}
      {{#ifequal step 3 }}
        <div class="woocommerce-notices-wrapper"></div>
        <form method="post" class="woocommerce-ResetPassword lost_reset_password">
          <p>Enter a new password below.</p>
          <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
            <label for="password_1">New password&nbsp;<span class="required">*</span></label>
            <span class="password-input">
            <input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="password_1"
                   id="password_1" autocomplete="new-password" aria-autocomplete="list" value="qwer">
            <span class="woocommerce-password-strength good" aria-live="polite" style="">Medium</span>
            <span class="show-password-input"></span>
          </span>
          </p>
          <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last">
            <label for="password_2">Re-enter new password&nbsp;<span class="required">*</span></label>
            <span class="password-input">
            <input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="password_2"
                   id="password_2" autocomplete="new-password">
            <span class="show-password-input"></span>
          </span>
          </p>
          <input type="hidden" name="reset_key" value="">
          <input type="hidden" name="reset_login" value="">
          <div class="clear"></div>
          <p class="woocommerce-form-row form-row">
            <input type="hidden" name="wc_reset_password" value="true">
            <button type="submit" class="woocommerce-Button button" value="Save">Save</button>
          </p>
          <input type="hidden" id="woocommerce-reset-password-nonce" name="woocommerce-reset-password-nonce" value="">
          <input type="hidden" name="_wp_http_referer" value="">
        </form>
      {{/ifequal}}
    </div>
  </div>
</div>
