<p class="form-row form-row-first validate-required" id="shipping_first_name_field" data-priority="10">
  <label for="shipping_first_name" class="">First name&nbsp;<abbr class="required" title="required">*</abbr></label>
  <span class="woocommerce-input-wrapper">
    <input type="text" class="input-text " name="shipping_first_name" id="shipping_first_name" placeholder="" value=""
           autocomplete="given-name"/>
  </span>
</p>
<p class="form-row form-row-last validate-required" id="shipping_last_name_field" data-priority="20">
  <label for="shipping_last_name" class="">Last name&nbsp;<abbr class="required" title="required">*</abbr></label>
  <span class="woocommerce-input-wrapper">
    <input type="text" class="input-text " name="shipping_last_name" id="shipping_last_name" placeholder="" value=""
           autocomplete="family-name"/>
  </span>
</p>
<p class="form-row form-row-first address-field validate-required" id="shipping_address_1_field" data-priority="50">
  <label for="shipping_address_1" class="">Street address&nbsp;<abbr class="required" title="required">*</abbr></label>
  <span class="woocommerce-input-wrapper">
    <input type="text" class="input-text " name="shipping_address_1" id="shipping_address_1"
           placeholder="House number and street name" value="2118 Abrams Rd" autocomplete="address-line1"/>
  </span>
</p>
<p class="form-row form-row-last address-field" id="shipping_address_2_field" data-priority="60">
  <label for="shipping_address_2" class="">Address 2&nbsp;<span class="optional">(optional)</span></label>
  <span class="woocommerce-input-wrapper">
    <input type="text" class="input-text " name="shipping_address_2" id="shipping_address_2" placeholder="" value=""
           autocomplete="address-line2"/>
  </span>
</p>
<p class="form-row form-row-first address-field update_totals_on_change validate-required" id="shipping_country_field"
   data-priority="40">
  <label for="shipping_country" class="">Country / Region&nbsp;<abbr class="required" title="required">*</abbr></label>
  <span class="woocommerce-input-wrapper">
    <select name="shipping_country" id="shipping_country" class="country_to_state country_select "
            autocomplete="country" data-placeholder="Select a country / region&hellip;">
      {{>country-options}}
    </select>
    <noscript>
      <button type="submit" name="woocommerce_checkout_update_totals" value="Update country / region">
        Update country / region
      </button>
    </noscript>
  </span>
</p>
<p class="form-row form-row-last address-field validate-required" id="shipping_city_field" data-priority="70">
  <label for="shipping_city" class="">Town / City&nbsp;<abbr class="required" title="required">*</abbr></label>
  <span class="woocommerce-input-wrapper">
    <input type="text" class="input-text " name="shipping_city" id="shipping_city" placeholder="" value="Washington"
           autocomplete="address-level2"/>
  </span>
</p>
<p class="form-row form-row-first address-field validate-required validate-state" id="shipping_state_field"
   data-priority="80">
  <label for="shipping_state" class="">State&nbsp;<abbr class="required" title="required">*</abbr></label>
  <span class="woocommerce-input-wrapper">
    <select name="shipping_state" id="shipping_state" class="state_select " autocomplete="address-level1"
            data-placeholder="Select an option&hellip;" data-input-classes="">
      {{>states-options}}
    </select>
  </span>
</p>
<p class="form-row form-row-last address-field validate-required validate-postcode" id="shipping_postcode_field"
   data-priority="90">
  <label for="shipping_postcode" class="">ZIP&nbsp;<abbr class="required" title="required">*</abbr></label>
  <span class="woocommerce-input-wrapper">
    <input type="text" class="input-text " name="shipping_postcode" id="shipping_postcode" placeholder="" value="03280"
           autocomplete="postal-code"/>
  </span>
</p>
