{{!-- Footer section block --}}

<footer class="footer">
  <div class="inner">
    <h2 class="title">Lorem ipsum dolor sit amet</h2>
    <div class="form">
      {{#> gform-form
      showError=false
      showConfirmation=false
    }}
    {{#> gform-body showError=showError}}
        {{> gform-singleLineText
            showError=showError
            customClass="gf_left_half"
            hideLabel=true
            required=true
            typeTextOrPassword="text"
            placeholderText="Name"
        }}
        {{> gform-email
            showError=showError
            customClass="gf_right_half"
            hideLabel=true
            required=true
            placeholderText="Email"
            enableConfirmation=false
            enterEmailLabel=""
            confirmEmailLabel=""
        }}
        {{> gform-paragraphText
          showError=showError
          customClass="test-class"
          hideLabel=true
          required=true
          placeholderText="Message"
          fieldSize="medium"
          maxChar=40
        }}
      {{/gform-body}}
      {{> gform-footer
          type="button"
          text="What’s on your mind?"
      }}
      {{/gform-form}}
    </div>
    <div class="wrap">
      <div class="col">
        <div class="logo">
            <img src="{{root}}images/logo-footer.png" alt="" />
        </div>
      </div>
      <div class="col">
        <nav class="footer-nav-container">
          <ul class="footer-nav">
            <li><a href="#">About Me</a></li>
            <li><a href="#">The Goal</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="second-wrap">
      <div class="col">
        <div class="text">
          <h3>Results not guaranteed</h3>
          <p>Individual weight loss results may vary. This website is intended to build a community of like minded people, coming together to create accountability tools.  It should not be construed as diet advice.</p>
        </div>
      </div>
      <div class="col">
         <div class="wrapper-btn">
          <a class="btn" href="#">Become a Member</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-line">
    <div class="inner">
      <div class="copyright">
        <p>© OnPlan 2021</p>
        <ul class="links-nav">
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="by">
        <p>Dallas WordPress Development: <a href="#">Web Loft Designs</a></p>
      </div>
    </div>
  </div>
</footer>
