<header class="woocommerce-products-header">
  <h1 class="woocommerce-products-header__title page-title">Shop</h1>
</header>
<div class="woocommerce-notices-wrapper"></div>
<p class="woocommerce-result-count">Showing all 5 results</p>
<form class="woocommerce-ordering" method="get">
  <select name="orderby" class="orderby" aria-label="Shop order">
    <option value="menu_order" selected="selected">Default sorting</option>
    <option value="popularity">Sort by popularity</option>
    <option value="rating">Sort by average rating</option>
    <option value="date">Sort by latest</option>
    <option value="price">Sort by price: low to high</option>
    <option value="price-desc">Sort by price: high to low</option>
  </select>
  <input type="hidden" name="paged" value="1">
</form>
<ul class="products columns-4">
  <li class="product type-product post-77 status-publish first instock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-variable has-default-attributes">
    <a href="#" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
      <img class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail" alt=""
           src="">
      <h2 class="woocommerce-loop-product__title">Variable Product</h2>
      <span class="price">
        <span class="woocommerce-Price-amount amount">
          <bdi><span class="woocommerce-Price-currencySymbol">$</span>15.00</bdi>
        </span> – <span class="woocommerce-Price-amount amount">
          <bdi><span class="woocommerce-Price-currencySymbol">$</span>19.99</bdi>
        </span>
      </span>
    </a>
    <a href="#" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="77"
       data-product_sku="" aria-label="Select options for “70% Isopropyl Alcohol (IPA)”" rel="nofollow">
      Select options
    </a>
  </li>
  <li class="product type-product post-89 status-publish instock product_cat-uncategorized has-post-thumbnail sale taxable shipping-taxable purchasable product-type-simple">
    <a href="#" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
      <span class="onsale">Sale!</span>
      <img class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail" alt=""
           src="">
      <h2 class="woocommerce-loop-product__title">Sale product</h2>
      <span class="price">
        <del>
          <span class="woocommerce-Price-amount amount">
            <bdi><span class="woocommerce-Price-currencySymbol">$</span>200.33</bdi>
          </span>
        </del>
        <ins>
          <span class="woocommerce-Price-amount amount">
            <bdi><span class="woocommerce-Price-currencySymbol">$</span>150.99</bdi>
          </span>
        </ins>
      </span>
    </a>
    <a href="#" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart"
       data-product_id="89" data-product_sku="" aria-label="Add “Sale product” to your cart" rel="nofollow">
      Add to cart
    </a>
  </li>
  <li class="product type-product post-95 status-publish outofstock product_cat-uncategorized has-post-thumbnail taxable shipping-taxable purchasable product-type-simple">
    <a href="#" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
      <img class="attachment-woocommerce_loop_thumbnail size-woocommerce_loop_thumbnail" alt=""
           src="">
      <h2 class="woocommerce-loop-product__title">Out of stock</h2>
      <span class="price">
        <span class="woocommerce-Price-amount amount">
          <bdi><span class="woocommerce-Price-currencySymbol">$</span>289.00</bdi>
        </span>
      </span>
    </a>
    <a href="#" data-quantity="1" class="button product_type_simple" data-product_id="95" data-product_sku=""
       aria-label="Read more about “Out of stock”" rel="nofollow">
      Read more
    </a>
  </li>
</ul>
