/**
 * Custom WooCommerce fonts.
 */
@font-face {
  font-family: 'star';
  src: url('star.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WooCommerce';
  src: url('WooCommerce.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
